<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeMapper">
	<insert id="add" parameterType="nvo">
		insert into tbl_notice
		values(seq_notice.nextval, #{title}, #{content}, #{writer}, sysdate, sysdate, 0, #{imgfile})
	</insert>
	<select id="list" resultType="nvo" parameterType="cri">
		<![CDATA[
		SELECT num, title, writer, readcount, moddate FROM
		(SELECT /*+INDEX_DESC(tbl_notice tbl_notice_pk)*/
			rownum rn, num, title, writer, readcount, moddate FROM TBL_NOTICE
			WHERE ROWNUM <= #{pageNum}*#{amount})
		WHERE rn > (#{pageNum}-1)*#{amount}
		]]>
	</select>
	<select id="detail" parameterType="java.lang.Integer" resultType="nvo">
		select * from tbl_notice where num = #{num}
	</select>
	<update id="modify" parameterType="nvo">
		update tbl_notice set title = #{title}, content = #{content}, moddate = sysdate, imgfile = #{imgfile} where num = #{num}
	</update>
	<delete id="remove" parameterType="java.lang.Integer">
		delete from tbl_notice where num = #{num}
	</delete>
	<update id="rmImg" parameterType="java.util.HashMap">
		update tbl_notice set imgfile = #{imgfile} where num = #{num}
	</update>
	<select id="total" resultType="java.lang.Integer">
		select count(num) from tbl_notice
	</select>
</mapper>